<main>
  <div class="main-top">
    <h1 class="index-title">Books</h1>
<!--一覧画面-->
    <div class="books-wrap">
      <p class="book-title"><b>Title</b></p>
      <p class="book-body"><b>Body</b></p>
    </div>
  </div>
  

<!--投稿画面-->
  <div class="main-bottom">
    <h2 class="new-book-title">New book</h2>
  </div>


</main>


