<main>
  <div class="main-top">
    <h1 class="index-title">Books</h1>
<!--一覧画面-->
    <div class="books-wrap">

      <table>
        <tr>
          <th>Title</th>
          <th>Body</th>
        </tr>
        <tr>
          <td>ああああああああ</td>
          <td>ああああああ</td>
          <td><a href="#">show</a></td>
          <td><a href="#">edit</a></td>
          <td><a href="#">destroy</a></td>
        </tr>
      </table>
    </div>
  </div>
  

<!--投稿画面-->
  <div class="main-bottom">
    <h2 class="new-book-title">New book</h2>
  </div>


</main>


