/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/*全体*/
main{
  font-family: verdana,Sans-serif;
  width:100%;
  margin:35px;
}

/*「top」画面のCSS*/
.top-title{
  padding-bottom: 20px;
  font-size:25px;
}
.top-text{
  padding-left: 30px;
  height: 100px;
  font-size:12px;
}
.top-text p{
  padding-bottom: 30px;
}
.start-botton{
  text-align: underline;
  color: gray;
}
.start-botton:hover{
  background-color: black;
  color: white;
}
/*「index」画面のCSS*/
.index-title{
  font-size: 26px;
  padding-bottom: 15px;
}

.books-wrap{
  display: flex;
}
th{
  font-size:13px;
  padding-bottom: 10px;
}
tr{
  font-size:13px;
}
td{
  padding-bottom: 10px;
}
.table-book-title{
  width:160px;
  padding-right:10px;
}
.table-book-body{
  width:360px;
}
.table-botton{
  padding-right: 10px
}
.table-botton:last-child{
  padding-right: 0
}
.table-botton a{
  text-align: underline;
  color: black;
}
.table-botton a:hover{
  background-color: black;
  color: white;
}

/*「index」＞新規投稿ここから*/
.main-bottom{
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-bottom h2{
  font-size:19px;
}
.new-post p{
  font-size:14px;
  margin-bottom: 2px;
  margin-top:15px;
}
.new-post-botton{
  width:100px;
  font-size:14px;
}
/*「index」エラー関連ここから*/
.error-square{
  list-style: square;
  background-color: #EEEEEE	;
}
.error-all{
  width:450px;
  margin-top:15px;
  /*border:1px solid red;*/
}
.error-all h3{
  color: white;
  background-color: #CC0000	;
  font-size:13px;
  padding: 10px 0 10px 20px;
}
.error-area ul{
  padding:30px 60px;
  font-size:12px;
}
.error-area li{
  margin-bottom: 5px;
}
/*「show」画面のCSSここから*/
.show-top{
  font-family: verdana,Sans-serif;
}
.show-main{
  padding-left: 35px;
  margin-top:30px;
}
.link{
  text-decoration: underline;
  font-size:14px;
}
.link:hover{
  background-color: black;
  color: white;
}
.back-link{
  color: gray;
  margin-left: 10px;
}
.edit-link,.show-link{
  color: black;
}
.link-border{
  border-right:1px solid black;
  padding-right:5px;
  font-size: 11px;
}
.show-main p{
  padding-bottom: 30px;
  font-size:13px;
}
.flash-message{
  color: green;
  font-size:13px;
  margin-bottom: 30px;

}
/*「edit」画面のCSSここから*/
.edit-top h1{
  font-size:25px;
  margin-bottom: 10px;
}
.edit-main p{
  font-size:14px;
  padding-bottom: 2px;
}
.edit-main{
  margin-top:20px;
}
.edit-title{
  margin-bottom: 14px;
}
.edit-body{
  margin-bottom: 14px;
}
.update-post-botton{
  margin-bottom: 10px;
  width: 100px;
}