/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
/*全体*/
main{
  font-family: verdana,Sans-serif;
  width:100%;
  padding-top:30px;
}
.top-page, .main-top, .main-bottom, .show-top{
  width:90%;
  margin:0 auto;
}
/*「top」画面のCSS*/
.top-title{
  padding-bottom: 20px;
  font-size:25px;
}
.top-text{
  padding-left: 30px;
  height: 100px;
  font-size:12px;
}
.top-text p{
  padding-bottom: 30px;
}
.start-botton{
  text-align: underline;
  color: gray;
}
.start-botton:hover{
  background-color: black;
  color: white;
}
/*「index」画面のCSS*/
.index-title{
  font-size: 25px;
  padding-bottom: 15px;
}

.books-wrap{
  display: flex;
}
th{
  font-size:14px;
  padding-bottom: 10px;
}
tr{
  font-size:12px;
}
td{
  padding-bottom: 10px;
}
.table-book-title{
  width:160px;
  padding-right:10px;
}
.table-book-body{
  width:360px;
}
.table-botton{
  padding-right: 10px
}
.table-botton:last-child{
  padding-right: 0
}
.table-botton a{
  text-align: underline;
  color: black;
}
.table-botton a:hover{
  background-color: black;
  color: white;
}

/*「index」＞新規投稿ここから*/
.main-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
}
.new-post p{
  font-size:12px;
  padding-bottom: 2px;
  padding-top:15px;
}
.new-post-botton{
  width:100px;
  font-size:14px;
}
/*「show」画面のCSSここから*/
.show-top{
  font-family: verdana,Sans-serif;
  width:90%;
  margin:0 auto;
}
.show-main{
  padding-left: 50px;
  padding-top:50px;
}
.link{
  text-decoration: underline;
  font-size:15px;
}
.link:hover{
  background-color: black;
  color: white;
}
.back-link{
  color: gray;
}
.edit-link{
  color: black;
}
.show-main p{
  padding-bottom: 30px;
  font-size:15px;
}
.flash-message{
  color: green;
  font-size:14px;
  padding-top:50px;
  padding-bottom: 50px;
}
